<div class="col-md-9">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">Lista de Videos</h1>
        </div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead>  
                    <tr>
                        <td colspan="1">
                            <a href="#/video/create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Novo</a>
                        </td>
                        <td colspan="7">
                            <div class="input-group col-md-12 col-xs-12">
                                <input type="text" class="form-control" placeholder="Procurar" ng-model="vm.filter.word">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="vm.searchVideo()"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </td>
                    </tr>                       
                    <tr>
                        <th hidden-xs">Razão Social</th>
                        <th>Tipo</th>
                        <th>Url</th>
                        <th>Tv Add</th>
                        <th hidden-xs">Tempo</th>
                        <th hidden-xs">Data Início</th>
                        <th hidden-xs">Data fim</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="video in vm.videos | filter: filter">
                        <td hidden-xs">{{ video.company.fantasyName}}</td>
                        <td>{{ video.typeVideo.type }}</td>
                        <td>{{ video.url }}</td>
                        <td>{{ video.tvAdditional }}</td>
                        <td hidden-xs">{{ video.timeVideo.time }}</td>
                        <td hidden-xs">{{ video.dateStart | date:'dd/MM/yyyy'}}</td>
                        <td hidden-xs">{{ video.dateEnd | date:'dd/MM/yyyy'}}</td>
                        <td>
                            <a class="btn btn-success btn-xs border-radius-3" href="#/video/view/{{video.idVideo}}"><i class="fa fa-eye"></i></a>
                            <button class="btn btn-success btn-xs border-radius-3" ng-click="vm.removeVideo(video)"><i class="fa fa-remove"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button ng-click="vm.getByRangeVideo($index + 1)" ng-repeat="a in vm.range(vm.pagination.qtdPages) track by $index" class="btn btn-default border-radius-3" style="margin:1px;">{{$index + 1}}</button>
        </div>
    </div>
</div>