<div class="col-md-3" id="menu-administrator">
    <uib-accordion close-others="oneAtATime">
        <uib-accordion-group is-open="status.isFirstOpen">
            <uib-accordion-heading>
                <i class="fa fa-industry pull-left"></i>&nbsp;&nbsp; Opções
                <i class="pull-right glyphicon " ng-class="{'glyphicon-chevron-down': status.isFirstOpen, 'glyphicon-chevron-right': !status.openMatriz}"></i>
            </uib-accordion-heading>
            <div class="hvr-wobble-top"><i class="fa fa-play"></i><a href="#/video-equipment-company/">&nbsp;&nbsp;Vídeos</a></div><br /><br />
            <div class="hvr-wobble-top"><i class="fa fa-refresh"></i><a href="#/history/">&nbsp;&nbsp;Movimentação</a></div><br /><br />
            <div class="hvr-wobble-top"><i class="fa fa-history"></i><a href="#/history-payment/">&nbsp;&nbsp;Pagamento</a></div><br /><br />
            <div class="hvr-wobble-top"><i class="fa fa-usd"></i><a href="#/history-month-current/">&nbsp;&nbsp;Ganho estimado neste mês</a></div>
        </uib-accordion-group>
    </uib-accordion>
</div>